<h1>Page de contact</h1>
<form action="<%=form_filled_path%>" method="get">
	<label>Ton pseudo</label>
	<input type="text" placeholder="ton pseudo">
	<label>Ton email</label>
	<input type="text" placeholder="ton email">
	<label>Ton message</label>
	<textarea placeholder="ton message"></textarea>
	<input type="submit" name="Envoyer">
</form>