
	<meta http-equiv="refresh" content="10; url=/" />
<p>
	Merci de nous avoir envoyé un petit message
</p>
<p>Bon pour l'instant les messages transmis par ce formulaire parte dans le néant (un peu comme une lettre au père Noël) mais bon c'est cool d'avoir voulu nous envoyer un petit mot</p>
<p>Redirection automatique vers la page principale dans 10 secondes</p>